#title {
    color: lightgoldenrodyellow;
    text-align: left;
    float: left;
}

.reveal h1 {
    color: darkorange;
}

.reveal h2 {
    color: darkorange;
}

#logo {
    background: none;
    border: none;
    margin-top: 100px;
}

#footer {
    text-align: center;
    height: 30px;
    width: 30px;
    font-size: 20pt;
}

.reveal section img {
    border-color: darkorange;
}

#footer img {
    background: none;
    border: none;
    float: left;
}